QLabel[class="labelsQuantifier"] {
/*    font-family: 'Consolas';*/
/*    font-size: 48pt;*/
    font-weight: bold;
    color: #2ECC71;
}
QLabel[class="labelsColon"] {
/*    font-family: 'Consolas';*/
/*    font-size: 32pt;*/
    font-weight: bold;
/*    color: #2ECC71;*/
}